# repo-language detect
*.css linguist-detectable=false

# exclude from release
; .gitignore export-ignore
; .gitattributes export-ignore

; LICENSE export-ignore
; README.md export-ignore
; doc/ export-ignore
; composer.json export-ignore
; composer.lock export-ignore
; Makefile export-ignore
